input[type = checkbox]{
margin-left: 20px;
margin-right: 5px;
width: 20px; height: 20px;
  border-radius: 25%;
  transition: box-shadow .5s;
  background: lightgray;
  outline: 0px solid #211d47;
  cursor: pointer;
  border: 0;
  appearance: none; -webkit-appearance: none; 
  margin-top: -1px;
  vertical-align: middle;
  box-shadow: 
    1px 1px 4px 0 white inset,
    -1px -1px 4px 0 black inset;
}

input[type = checkbox]:hover{
  background: rgb(187, 173, 173);
}

input[type = checkbox]:checked{
  box-shadow: 
  1px 1px 4px 0 black inset,
  -1px -1px 4px 0 white inset;
     outline: 0px solid black;
}

.boxes{
  margin-left: 20px;
  margin-right: 20px;
  
}

.chktitle{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.innerboxes{
  border: solid;
  border-radius: 8px;
  border-width: 0px;
  width: fit-content;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 
    3px 3px 10px 0 rgba(0, 0, 0, 0.25),
    -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
}