.heade{
    color: white;
   /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: orange; */
    border-color: black;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0px;
    width: auto;
    font-family: sans-serif;
    background: #211d47;
    
}

.mainicon{
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

.titl{
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
}

.datetime{
    display: inline-block;
    text-align: right;
    vertical-align: baseline;
    float: right;
    margin-right: 20px;
}